body {
    background: #333 url('img/cutlery.jpg') center center no-repeat;
    background-size: cover;
    color: #532827;
}

#container {
    width: 400px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background: url('img/paper-pattern.jpg') top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
}

form {
    text-align: left;
}

form input,
form select {
padding: 8px;
margin: 10px 0;
border-radius: 8px;
}

form input[type="text"] {
    width: 90px;
}

/* Calculate button */
#calculate {
    background: #6c2726;
    color: white;
    border: none;
    border-bottom: solid 4px #222; 
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

#calculate:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

#calculate:active {
    position: relative;
    top: 1px;
}

/* Reset button */
#reset {
    background: #860200;
    color: white;
    border: none;
    border-bottom: solid 4px #222; 
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
}

#reset:hover {
    background: #6d1f00;
    border-bottom-color: #111;
}

#reset:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 50px;
    margin-top: 40px;
}

#totalTip::before {
    content: "Tip amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-decoration: uppercase;
}

#totalTip sup {
    font-size: 24px;
    top: -18px;
}

#totalTip small {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

@media screen and (max-width: 800px) {
    body {
        background: url('img/cutlery.jpg') center center no-repeat;
        width: 100%;
        height: 100%;
    }
    #container {   
        position: fixed;
        left: 1%;
        right: 1%;
        
      
    }
   
  }

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100%;
        background: url('img/cutlery.jpg') center center repeat;
    }
    #container {   
        position: fixed;
        left: 1%;
        right: 1%;
        top: 2%;
        width: 20em;
      
    }
   
  }